.swv-button.swv-button-trigger {
  font-size: 12px !important;
  padding: 0 16px !important;
  height: auto !important;
  line-height: 38px !important;

  .swv-button-icon, .swv-button-icon img  {
    width: 14px !important;
    height: 14px !important;
  }
  p {
    margin-left: 8px !important;
  }
}

